apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: jenkins-domain
  namespace: {{ namespace }}
spec:
  rules:
  - host: {{ jenkins_host }}
    http:
      paths:
      - path: /
        backend:
          serviceName: {{ jenkins_service_clusterip_name }}
          servicePort: {{ jenkins_port }}
