apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvc_nexus }}
  namespace: {{ namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-storage
  resources:
    requests:
      storage: {{ nexus_storage }}

