apiVersion: v1
kind: Service
metadata:
  name: {{ nexus_service_clusterip_name }}
  labels:
    app: nexus-service
  namespace: {{ namespace }}
spec:
  ports:
  - port: {{ nexus_port }}
    protocol: TCP
  selector:
    app: nexus

