apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: jenkins
  name: {{ jenkins_deployment_name }}
  namespace: {{ namespace }}
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: jenkins
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: jenkins
    spec:
      securityContext:
       fsGroup: 1000 
       runAsUser: 0 
      containers:
      - image: {{ jenkins_image }}
        name: {{ pod_name }}
        ports:
        - containerPort: {{ jenkins_port }}
        volumeMounts:
        - mountPath: /var/jenkins_home
          name: pvc-jenkins
      volumes:
      - name: pvc-jenkins
        persistentVolumeClaim:
         claimName: {{ pvc_jenkins }}

