apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvc_jenkins }}
  namespace: {{ namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: {{ jenkins_storage }}
