apiVersion: v1
kind: Service
metadata:
  name: {{ jenkins_service_nodeport_name }}
  labels:
   app: jenkins
  namespace: {{ namespace }}
spec:
  type: NodePort
  ports:
  - port: {{ jenkins_port }}
    targetPort: {{ jenkins_target_port }}
    protocol: TCP
    nodePort: {{ jenkins_nodeport }}
  selector:
    app: jenkins


