apiVersion: v1
data:
  .dockerconfigjson: eyJhdXRocyI6eyIxNzIuMTYuMTAuMTA6MzAwMDUiOnsidXNlcm5hbWUiOiJ5b3NyIiwicGFzc3dvcmQiOiJ5b3NyIiwiZW1haWwiOiJ5b3NyLmVseW91bnNpQGdtYWlsLmNvbSIsImF1dGgiOiJlVzl6Y2pwNWIzTnkifX19
kind: Secret
metadata:
  creationTimestamp: null
  name: registrykey
  namespace: {{ namespace }}
type: kubernetes.io/dockerconfigjson
